// _components.scss
button {
  background-color: $primary-color;
  color: $secondary-color;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 0.24rem;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
